*{
    margin: 0;
    padding: 0;   
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}
p,a{
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.2;
}
button{
    border: none;
}
:root{
    --main-background:#FFFFFF;
    --primary-color:#FFFFFF;
}
html{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #FFFF;
}
ul{
    list-style-type: none;
}
.wrapper{
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto ;
    padding: 0 2rem;
}