.video-section {
    position: relative;
    height: 637px;
    color: var(--primary-color);
    text-align: center;
    user-select: none;
}

.video-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../assets/Mask.png') center/cover no-repeat;
    background-color: rgba(140, 79, 42, 0.7);
    background-blend-mode: multiply;
}

.video-content {
    padding: 5.25rem 0;
}

.video-header {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

.video-subheader {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 4.375rem;
}

.video-btn {
    position: relative;
    width: 9.375rem;
    height: 9.375rem;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #39C2D7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.video-btn:hover{
    color: #39C2D7;
    background-color: #FFFFFF;
    transform: scale(0.97);
}


.play {
    margin: 0;
    padding: 0;
    /* padding-left: 10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
}


@media screen and (max-width:768px) {

    .video-btn {
        width: calc(100/16 * 1rem);
        height: calc(100/16 * 1rem);
    }

    .play {
        font-size: calc(36/16 * 1rem);
    }
}